/*App component*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #17141F;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.form-wrapper {
  padding: 25px 10px;
}

.zipcode-box-wrapper{
  padding-right: 10px;
}

.error-text{
  color: #FF0000;
}

/*Restaurent List component*/
.restaurent-list{
  padding: 0px !important;
  text-align: left;
}
.restaurent-location-title{
  font-size: 20px;
}
.restaurant-name{
  font-size: 15px;
}
.restaurant-cuisines{
  font-size: 12px;
}
.list-group-item{
  cursor: pointer !important;
}

/*MapDisplay component*/
#map {
  height: 100%;
}
.align-text-left{
  text-align: left;
}

/*Search history component*/
.search-history{
  padding: 15px 30px;
}
.history{
  cursor: unset;
}
.history:hover, .history:active, .history:focus{
  cursor: unset;
  background-color: #337ab7 !important;
}
.zip-item{
  border-top: 1px solid #2e6da4 !important;
  border-bottom: 1px solid #2e6da4 !important;

  border-left: 1px dotted rgba(143,151,157,0.5) !important;
  border-right: 1px dotted rgba(143,151,157,0.5) !important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
